<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        bootstrap="tests/bootstrap.php"
        colors="true"
        backupGlobals="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite name="SportMonks Test Suites">
            <directory>./tests/SportMonks/API/UnitTests</directory>
        </testsuite>
    </testsuites>
</phpunit>
